.NavBar {
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 5vh;
}

.NavBar nav {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.FriendContainer {
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
}

.FriendCard {
    margin: 0.5rem;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 2rem;
    width: 20vw;
}

.AddFriend {
    margin: 0.5rem;
}